<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>监测结果管理</title>
</head>
<body>
	<a href="/spider/">返回</a>
	<table>
		<thead>
			<tr>
				<th>序号</th>
				<th>任务名称</th>
				<th>完成时间</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item:${runresultlist}">
				<td th:text="${itemStat.count}">1</td>
				<td><a th:href="@{'/spider/runresult/view/' + ${item.id}}"
					th:text="${item.name}"></a></td>
				<td th:text="${#calendars.format(item.finishedTime,'yyyy-MM-dd HH:mm:ss')}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>