<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>监测任务管理</title>
</head>
<body>
	<label>监测任务设置</label>
	<form th:action="${action}" method="post" th:object="${task}">
		<input name="id" th:field="*{id}" type="hidden" />
		<ul>
			<li><label>任务名称</label><input type="text" name="name"
				th:field="*{name}" /></li>
			<li><label>起始URL</label><input type="text" name="startUrl"
				th:field="*{startUrl}" /></li>
			<li><label>完成模式</label><select name="finishedMode"
				th:field="*{finishedMode}">
					<option value="ALL_FINISHED">全部URL完成</option>
					<option value="ANY_FINISHED">第一次完成</option>
			</select></li>
			<li><label>备注</label><input type="text" name="remarks"
				th:field="*{remarks}" /></li>
		</ul>
		<input type="submit" value="提交" /> <a href="/spider/task/list">返回</a>
	</form>
</body>
</html>