<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>监测任务管理</title>
</head>
<body>
	<a href="/spider/">返回</a>
	<a href="/spider/task/new">新增</a>
	<table>
		<thead>
			<tr>
				<th>序号</th>
				<th>操作</th>
				<th>任务名称</th>
				<th>开始URL</th>
				<th>完成模式</th>
				<th>网页类型</th>
				<th>备注</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item:${tasklist}">
				<td th:text="${itemStat.count}">1</td>
				<td><a th:href="@{'/spider/task/edit/' + ${item.id}}">修改</a> <a
					th:href="@{'/spider/task/delete/' + ${item.id}}">删除</a><a
					th:href="@{'/spider/task/run/' + ${item.id}}">立即执行</a></td>
				<td><a th:href="@{'/spider/task/view/' + ${item.id}}"
					th:text="${item.name}"></a></td>
				<td><a th:href="${item.startUrl}" th:text="${item.startUrl}" target="_blank"></a></td>
				<td th:text="${item.finishedMode.name}"></td>
				<td th:text="${item.siteType.name}"></td>
				<td th:text="${item.remarks}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>