<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>监测任务管理</title>
<link href="/bootstrap-3.3.5-dist/css/bootstrap.css" rel="stylesheet"></link>
<link href="/style/common.css" rel="stylesheet"></link>
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-body">
			<a href="/spider/task/list" class="btn btn-default"><span
				class="glyphicon glyphicon-log-in"></span> 返回</a> <a href=""
				class="btn btn-default"><span
				class="glyphicon glyphicon-refresh"></span> 刷新</a> <a
				th:href="@{'/spider/task_page/new?task=' + ${task.id}}"
				class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>
				新增页面</a>
		</div>
	</div>
	<div class="panel panel-default" th:object="${task}">
		<div class="panel-heading">
			<h3 class="panel-title">监测任务详情</h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label for="name" class="col-sm-1 control-label">任务名称</label>
				<div class="col-sm-11">
					<input type="text" class="form-control" id="name"
						th:field="*{name}" readonly="readonly" />
				</div>
			</div>
			<div class="form-group">
				<label for="startUrl" class="col-sm-1 control-label">起始URL</label>
				<div class="col-sm-11">
					<input type="text" class="form-control" id="startUrl"
						th:field="*{startUrl}" readonly="readonly" />
				</div>
			</div>
			<div class="form-group">
				<label for="finishedMode" class="col-sm-1 control-label">完成模式</label>
				<div class="col-sm-11">
					<input type="text" class="form-control" id="startUrl"
						th:field="*{finishedMode.name}" readonly="readonly" />
				</div>
			</div>
			<div class="form-group">
				<label for="siteType" class="col-sm-1 control-label">网页类型</label>
				<div class="col-sm-11">
					<input type="text" class="form-control" id="siteType"
						th:field="*{siteType.name}" readonly="readonly" />
				</div>
			</div>
			<div class="form-group">
				<label for="remarks" class="col-sm-1 control-label">备注</label>
				<div class="col-sm-11">
					<textarea class="form-control" id="remarks" th:field="*{remarks}"
						rows="3" readonly="readonly"></textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default" th:object="${task}">
		<div class="panel-heading">
			<h3 class="panel-title">页面设置列表</h3>
		</div>
		<div class="panel-body">
			<table>
				<thead>
					<tr>
						<th>序号</th>
						<th>操作</th>
						<th>页面名称</th>
						<th>页面URL表达式类型</th>
						<th>页面URL表达式</th>
						<th>是否目标页面</th>
						<th>加载完成后延时(秒)</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item:${taskPagelist}">
						<td th:text="${itemStat.count}">1</td>
						<td><a th:href="@{'/spider/task_page/edit/' + ${item.id}}"
							class="glyphicon glyphicon-edit" title="修改"></a> <a
							th:if="!${item.startPage}"
							th:href="@{'/spider/task_page/delete/' + ${item.id}}"
							class="glyphicon glyphicon-remove" title="删除"></a></td>
						<td><a th:href="@{'/spider/task_page/view/' + ${item.id}}"
							th:text="${item.name}"></a></td>
						<td th:text="${item.urlRuleType.name}"></td>
						<td th:text="${item.urlRuleExpression}"></td>
						<td th:text="${item.target} ? '是' : '否'"></td>
						<td th:text="${item.loadedDelay}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div th:include="/common/footer::foot"></div>
</body>
</html>