<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>监测任务管理</title>
<link href="/bootstrap-3.3.5-dist/css/bootstrap.css" rel="stylesheet"></link>
<link href="/style/common.css" rel="stylesheet"></link>
</head>
<body>
	<form th:action="${action}" method="post" th:object="${explan}">
		<div class="panel panel-default">
			<div class="panel-body">
				<a href="/spider/explan/list" class="btn btn-default"><span
					class="glyphicon glyphicon-log-in"></span> 返回</a> <a id="submit"
					class="btn btn-success" href="javascript:void(0)"><span
					class="glyphicon glyphicon-ok"></span>提交</a>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">监测任务设置</h3>
			</div>
			<div class="panel-body">
				<input name="id" th:field="*{id}" type="hidden" /> <input
					name="task.id" th:field="*{task.id}" type="hidden" />
				<div class="form-group">
					<label for="name" class="col-sm-1 control-label">计划任务名称</label>
					<div class="col-sm-11">
						<input type="text" class="form-control" id="name"
							th:field="*{name}" placeholder="请输入计划任务名称" />
					</div>
				</div>
				<div class="form-group">
					<label for="name" class="col-sm-1 control-label">开始时间</label>
					<div class="col-sm-11">
						<input type="datetime" class="form-control" id="startTime"
							th:field="*{startTime}" placeholder="请输入开始时间" />
					</div>
				</div>
				<div class="form-group">
					<label for="name" class="col-sm-1 control-label">任务周期</label>
					<div class="col-sm-11">
						<input type="number" class="form-control" id="intervals"
							th:field="*{intervals}" placeholder="请输入任务周期" />
					</div>
				</div>
				<div class="form-group">
					<label for="name" class="col-sm-1 control-label">重复次数</label>
					<div class="col-sm-11">
						<input type="number" class="form-control" id="repeatNumbers"
							th:field="*{repeatNumbers}" placeholder="请输入重复次数" />
					</div>
				</div>
				<div class="form-group">
					<label for="remarks" class="col-sm-1 control-label">备注</label>
					<div class="col-sm-11">
						<textarea class="form-control" id="remarks" th:field="*{remarks}"
							placeholder="请输入备注" rows="3"></textarea>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div th:include="/common/footer::foot"></div>
	<script src="/laydate-v1.1/laydate/laydate.js"></script>
</body>
</html>