<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>监测日志管理</title>
<link href="/bootstrap-3.3.5-dist/css/bootstrap.css" rel="stylesheet"></link>
<link href="/style/common.css" rel="stylesheet"></link>
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-body">
			<a href="" class="btn btn-default"><span
				class="glyphicon glyphicon-refresh"></span> 刷新</a> <a
				th:href="@{'/spider/runlog/deleteall'}" class="btn btn-danger"><span
				class="glyphicon glyphicon-ban-circle"></span> 清空</a>
		</div>
	</div>
	<table>
		<thead>
			<tr>
				<th>序号</th>
				<th>操作</th>
				<th>监测任务</th>
				<th>计划任务</th>
				<th>完成时间</th>
				<th>URL</th>
				<th>内容类型</th>
				<th>内容字符集</th>
				<th>状态码</th>
				<th>网页截图</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item:${runloglist}">
				<td th:text="${itemStat.count}">1</td>
				<td><a th:href="@{'/spider/runlog/delete/' + ${item.id}}">删除</a></td>
				<td th:text="${item.task.name}"></td>
				<td th:text="${item.explan ne null} ? ${item.explan.name} : ''"></td>
				<td
					th:text="${#calendars.format(item.finishedTime,'yyyy-MM-dd HH:mm:ss')}"></td>
				<td><a th:href="${item.url}" th:text="${item.url}"
					target="_blank"></a></td>
				<td th:text="${item.contentType}"></td>
				<td th:text="${item.contentCharset}"></td>
				<td th:text="${item.stateCode}"></td>
				<td><a th:href="${item.screenshotUrl}"
					th:text="${item.screenshotUrl}" target="_blank"></a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>