<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>监测任务管理</title>
</head>
<body>
	<ul>
		<li><label>页面名称</label><label th:text="${page.name}"></label></li>
		<li><label>URL表达式类型</label><label
			th:text="${page.urlRuleType.name}"></label></li>
		<li><label>URL表达式</label><label
			th:text="${page.urlRuleExpression}"></label></li>
		<li><label>是否目标页面</label><label th:text="${page.target}"></label></li>
		<li><label>加载完成后延时(秒)</label><label th:text="${page.loadedDelay}"></label></li>
	</ul>
	<a th:href="@{'/spider/task/view/' + ${page.task.id}}">返回</a>
	<br/>
	<label>页面抽取内容设置</label>
	<a th:href="@{'/spider/task_content/new?page=' + ${page.id}}">新增</a>
	<table>
		<thead>
			<tr>
				<th>序号</th>
				<th>操作</th>
				<th>内容名称</th>
				<th>内容表达式类型</th>
				<th>内容表达式</th>
				<th>可否为空</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item:${taskContentlist}">
				<td th:text="${itemStat.count}">1</td>
				<td><a th:href="@{'/spider/task_content/edit/' + ${item.id}}">修改</a>
					<a th:href="@{'/spider/task_content/delete/' + ${item.id}}">删除</a></td>
				<td th:text="${item.name}"></td>
				<td th:text="${item.ruleType.name}"></td>
				<td th:text="${item.ruleExpression}"></td>
				<td th:text="${item.emptyEnabled}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>